body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

.hero {
  background: #7b2d26;
  color: white;
  padding: 60px 20px;
  text-align: center;
}

section {
  padding: 40px 20px;
  max-width: 900px;
  margin: auto;
}

h2 {
  color: #7b2d26;
}

.speciality ul {
  list-style: none;
  padding: 0;
}

.speciality li {
  background: #fff;
  margin: 10px 0;
  padding: 15px;
  border-left: 5px solid #7b2d26;
}

footer {
  text-align: center;
  padding: 20px;
  background: #222;
  color: #fff;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: #ffffff;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo {
  color: #7b2d26;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.navbar a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.navbar a:hover {
  color: #7b2d26;
}


.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}
